@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  font-family: "Nunito Sans", sans-serif;
}
.homepage {
  width: 100%;

  min-height: 100vh;
  background: hsl(207, 26%, 17%);
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  box-shadow: 0px 15px 10px -15px #111;
}
.search-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1380px;
  margin: auto;
  
}

.search-bar input {
  background: hsl(209, 23%, 22%);
  margin: 20px ;
  border: none;
  padding: 8px 40px;
  border-radius: 5px;
}
.search-bar input:focus {
  outline: none;
}
.country-card {
  width: 300px;
  height: 300px;
  background: hsl(206, 13%, 24%);
  border-radius: 5px;
}
img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
.country-wrapper {
  max-width: 1440px;
  background: hsl(207, 26%, 17%);
  margin: auto;
  display: flex;
  gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
}
.details {
  margin-left: 10px;
}
.countryName {
  margin-bottom: 5px;
}

.details p {
  font-size: 12px;
}


option{
  color: white;
  
}
select{
  background: hsl(207, 26%, 17%);
}

.dropdown{
  margin: 30px  0;
}
.dropdown select{
  padding: 10px 5px;
}


//custom error message
.error-box{
 
}
.error-message {
  color: #721c24;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color:white;
  
  padding:40px;
  align-items:center;
}
